.ipynb_checkpoints/*

iris/.ipynb_checkpoints/*
tutiempo/.ipynb_checkpoints/*

quasars/.ipynb_checkpoints/*
quasars/data/*

galaxies/.ipynb_checkpoints/*
galaxies/data/*

energy-residential-buildings/.ipynb_checkpoints/*
energy-residential-buildings/*.html

onlinegame-mlbootcamp-2017/.ipynb_checkpoints/*
onlinegame-mlbootcamp-2017/*.html

nrel-oahu-solar/.ipynb_checkpoints/*
nrel-oahu-solar/*.html
nrel-oahu-solar/*.csv

anomaly-detection/.ipynb_checkpoints/*
anomaly-detection/*.html
anomaly-detection/*.csv

hana/settings.py
hana/.ipynb_checkpoints/*
hana/__pycache__
hana/htmls/*.html
hana/*.html
hana/data/*
hana/archives/*

data-in-pdf-tables/htmls/*
data-in-pdf-tables/.ipynb_checkpoints/*
data-in-pdf-tables/PDFs/*
data-in-pdf-tables/archives/*


tf.js/assets/*

reinforcement/.ipynb_checkpoints/*
reinforcement/htmls/*
reinforcement/htmls/.ipynb_checkpoints/*


visualization-fun/htmls/*
visualization-fun/HTML/*
visualization-fun/.ipynb_checkpoints/*