.ipynb_checkpoints/*

iris/.ipynb_checkpoints/*
tutiempo/.ipynb_checkpoints/*

quasars/.ipynb_checkpoints/*
quasars/data/*

galaxies/.ipynb_checkpoints/*
galaxies/data/*

energy-residential-buildings/.ipynb_checkpoints/*
energy-residential-buildings/energy-residential-buildings.html