.ipynb_checkpoints/*

iris/.ipynb_checkpoints/*
tutiempo/.ipynb_checkpoints/*

quasars/.ipynb_checkpoints/*
quasars/data/*

galaxies/.ipynb_checkpoints/*
galaxies/data/*

energy-residential-buildings/.ipynb_checkpoints/*
energy-residential-buildings/energy-residential-buildings.html

onlinegame-mlbootcamp-2017/.ipynb_checkpoints/*
onlinegame-mlbootcamp-2017/*.html

nrel-oahu-solar/.ipynb_checkpoints/*
nrel-oahu-solar/*.html
nrel-oahu-solar/*.csv

anomaly-detection/.ipynb_checkpoints/*
anomaly-detection/*.html